<div id="contactWrapper">
    <div class="contact">
        <strong><p id="name">Jacquie Hallenbeck</p></strong>
        <p>Greenwood Village CO</p>
        <p>Cell: (303) 638-3590</p>
        <br>
        <p><a href="mailto:jacquiehallenbeck@me.com">jacquiehallenbeck@me.com</a></p>
    </div>
    
</div>
<div class="copyright">
        <p>Copyright &copy; 2020 Highline Australian Shepherds. Developed by Ross Hallenbeck</p>
        <!-- Design by <a href="http://www.jeffreyhanlin.com/">Jillayne Karras</a>. -->
    </div>