<div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    !Shimmer Bobble Puppies are here! Click <a href="/litters/shimmer-bobble">here</a> for more details!
  </div>