<div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    !NEW LITTER COMING SOON! LULU PUPPIES ARE ON THE WAY! Click <a href="/litters/new">here</a> for more details!
  </div>