<%- include('_banner_img') %>
<div id="navBarBox">
    <ul id="navList" class="menu dropdown align-center" data-dropdown-menu>
        <li><a href="/" ">HOME</a></li>
        <li class="divideLI"><div class="divideLine"></div></li>
        <li><a href="/about" >ABOUT US</a></li>
        <li class="divideLI"><div class="divideLine"></div></li>
        <li class="dropMenu"><a href="/ourdogs" >OUR DOGS</a>
            <ul class="menu">
                <li><a href="/ourdogs/allie">Allie</a></li>
                <li><a href="/ourdogs/lulu">Lulu</a></li>
                <li><a href="/ourdogs/dela">Dela</a></li>
                <li><a href="/ourdogs/crush">Crush</a></li>
                <li><a href="/ourdogs/shimmer">Shimmer</a></li>
            </ul>
        </li>
        <li class="divideLI"><div class="divideLine"></div></li>
        <li class="dropMenu"><a href="/litters" >LITTERS</a>
            <ul class="menu">
                <li><a href="/litters/2020"><strong>!NEW! 2020 Upcsomming Litter</strong></a></li>
                <!-- <li><a href=""></a></li> -->
                <li><a href="/litters/development">Puppy Early Development</a></li>
                <li><a href="/litters/past">Past Litters</a></li>
            </ul>
        </li>
        <li class="divideLI"><div class="divideLine"></div></li>
        <li class="dropMenu"><a href="/bredby" >BRED BY</a>
        <ul class="menu">
            <li><a href="/bredby/bacio">Bacio</a></li>
            <li><a href="/bredby/bogart">Bogart</a></li>
            <li><a href="/bredby/deacon">Deacon</a></li>
            <li><a href="/bredby/layla">Layla</a></li>
            <li><a href="/bredby/nike">Nike</a></li>
            <li><a href="/bredby/parker">Parker</a></li>
            <li><a href="/bredby/stout">Stout</a></li>
            <li><a href="/bredby/taylor">Taylor</a></li>
            
            
        </ul>
        </li>
        <li class="divideLI">|<div class="divideLine"></div></li>
        <li><a href="/gallery" >GALLERY</a></li>
        <li class="divideLI"><div class="divideLine"></div></li>
        <li><a href="/info" >INFORMATION</a></li>
        <li class="divideLI"><div class="divideLine"></div></li>
        <li ><a href="/contact">CONTACT</a></li>

    </ul>

</div>
