<div class="contentWrapper">
    <div class="bannerText">
        <h1>About Us</h1>
    </div>
    <div id="aboutImage">
        <img src="/images/AboutImageSM.jpg" alt="">
    </div>
    <div id="aboutUsText">
        <p>
            I grew up in England and was dog and horse crazy from the time I could walk. I spent every weekend from age
            8 mucking stalls, feeding and grooming at the local riding stables in return for lessons. By the time I was
            in my early teens I was taking students out on hacks around the local countryside and teaching the younger
            kids how to ride. Finally after years of saving money earned babysitting I was able to buy my first horse, a
            thoroughbred cross for the sum of five hundred pounds. Together we started competing at local cross country
            trials and jumping competitions and occasionally rode with the local hunt. I was in heaven!!
            <br><br>
            I put my riding on hold while at University and after finishing a twist of fate resulted in my emigration to
            the USA. Once settled I quickly picked up my riding and spent many years training and competing in hunter
            jumpers, various dogs by my side. In 2000 one of the ladies at the barn where I trained showed up with a
            blue merle Australian shepherd and I fell in love, I thought he was the smartest, most handsome and most
            biddable dog I had ever met. By 2003 I had retired from riding due to a bad fall followed by a major life
            event and my first Aussie called Madison came into my life. That was the beginning of this incredible
            journey into the breed that I have come to love, admire and cherish, a journey that continues to teach me so
            much and has resulted in not only having the privilege of living with some amazing dogs, but has also
            introduced me to likeminded people who have become very dear friends.
            <br><br>
            Madison was my running, cross country ski, hiking, and snowshoeing partner, she was my constant companion
            and made friends wherever we went. When I had to go out of town friends would vie for the right to take care
            of her, she was a popular girl!
            <br><br>
            When Madison was seven years old some dear friends who often took care of her asked me to help them find
            their own Madison and the Aussie puppy search began. By then I knew it was important to buy from a reputable
            breeder and we started attending local dog shows to see if we could identify a breeder we felt comfortable
            with. At the shows my eyes consistently went to the dogs from one particular kennel, Calais Carolina, a HOF
            kennel owned by senior breeder judges Terri Morgan, Selena Poplin and Elizabeth Stibley who have been in the
            breed for decades and have one of the most respected and successful breeding programs in the country. My
            friends got on the Calais Carolina list for a companion puppy and that was the beginning of my friendship
            with Terri, Selena and Libby that is strong to this day. Through Terri I quickly purchased my first show dog
            Crush who came from Calais Carolina lines and was bred by Sonkist Australian Shepherds in CA. Crush didn’t
            work out as a show dog but it was the beginning of my passion for showing and competing with my dogs and
            eventually led to my first homebred litter.
            <br><br>
            I am eternally grateful to Terri and Selena for being the best mentors anyone could hope for and for
            entrusting me with some of their incredible Calais Carolina dogs.
        </p>
    </div>
    <div class="sliderBox">
        <div class="slider-for for2">
            <div><img src="/images/about_us/new_upload0.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload1.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload2.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload3.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload4.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload5.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload6.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload7.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload8.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload9.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload10.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload11.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload12.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload13.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload14.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload15.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload16.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload17.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload18.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload19.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload20.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload21.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload22.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload23.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload24.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload25.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload26.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload27.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload28.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload29.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload30.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload31.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload32.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload33.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload34.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload35.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload36.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload37.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload38.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload39.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload40.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload41.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload42.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload43.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload44.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload45.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload46.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload47.jpg" alt=""></div>
            <div><img src="/images/about_us/new_upload48.jpg" alt=""></div>
            

        </div>
    </div>

    <div class="sliderNavBox">
        <div class="slider-nav nav2">
            <div class="slide"><img src="/images/about_us/new_upload0.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload1.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload2.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload3.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload4.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload5.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload6.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload7.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload8.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload9.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload10.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload11.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload12.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload13.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload14.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload15.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload16.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload17.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload18.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload19.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload20.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload21.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload22.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload23.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload24.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload25.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload26.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload27.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload28.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload29.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload30.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload31.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload32.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload33.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload34.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload35.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload36.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload37.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload38.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload39.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload40.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload41.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload42.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload43.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload44.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload45.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload46.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload47.jpg" alt=""></div>
            <div class="slide"><img src="/images/about_us/new_upload48.jpg" alt=""></div>
            
        </div>
    </div>
</div>
<script src="/js/slider.js">

</script>
