<div class="contentWrapper">
    <div class="soloDogPage">
        <div class="bannerText">
            <h1>Allie</h1>
        </div>

        <div class="dogMainImg">
            <img src="/images/allie/allie4.jpg" alt="">
        </div>
        <div class="dogTitle">
            <h3>
                AKC/ASCA CH <strong>Calais Carolina Allie Oop </strong>
                <br>GS-N JS-O RS-O RNX RA RSA-E DNA-VP JSA-E-OP GSA-O

            </h3>
        </div>
        <div class="dogText dogText2 mainStyle">
            <h1>About Allie</h1>
            <p>
                Allie was my pick from my first litter, she was a stunning puppy who grew into a an absolutely beautiful
                adult. Allie had great success in the show ring, she took her first four point major on the day she
                turned six months and finished with very limited showing with three five point majors. She finished in
                style in AKC by going breed over a large group of specials owner handled.
                Allie premiered all three times shown at the 2015 ASCA nationals held in Tennessee and since being
                spayed has taken multiple premiers and a BOS at the 2018 Greeley ASCA nationals. She was 5th in Altered
                conformation finals in 2019.
                Allie loves agility and has taken multiple HIT in the ASCA ACE program. She has a few ASCA rally titles
                but it’s not her favorite activity that’s for sure,. She has a couple of legs in started sheep and ducks
                and some titles in barn hunt.
                Allie is most happy going on hikes in the mountains and foothills and going to work with her best friend
                Drew

            </p>
            <!-- <div class="dogSecondaryImg bottomPad slickImg">
                <img src="/images/allie/main2.jpg" alt="">
            </div> -->
            </div>
            <div class="sliderBox" data-dog='allie'>
            
                <div class="slider-for">
                    
                <div><img src="/images/allie/allie_slider/0allie0.jpg"></div><div><img src="/images/allie/allie_slider/0allie1.jpg"></div><div><img src="/images/allie/allie_slider/0allie3.jpg"></div><div><img src="/images/allie/allie_slider/0llie2.jpg"></div>
                <div><img src="/images/allie/allie_slider/allie_agility0.jpg" alt=""></div>
                    <div><img src="/images/allie/allie_slider/allie_agility1.jpg" alt=""></div>
                    <div><img src="/images/allie/allie_slider/allie_agility2.jpg" alt=""></div>
                    <div><img src="/images/allie/allie_slider/allie_agility3.jpg" alt=""></div>
                    <div><img src="/images/allie/allie_slider/allie_agility4.jpg" alt=""></div>
                    <div><img src="/images/allie/allie_slider/allie_agility5.jpg" alt=""></div>
                <div><img src="/images/allie/allie_slider/allie_0.jpg"></div><div><img src="/images/allie/allie_slider/allie_1.jpg"></div><div><img src="/images/allie/allie_slider/allie_10.jpg"></div><div><img src="/images/allie/allie_slider/allie_11.jpg"></div><div><img src="/images/allie/allie_slider/allie_12.jpg"></div><div><img src="/images/allie/allie_slider/allie_13.jpg"></div><div><img src="/images/allie/allie_slider/allie_14.jpg"></div><div><img src="/images/allie/allie_slider/allie_15.jpg"></div><div><img src="/images/allie/allie_slider/allie_16.jpg"></div><div><img src="/images/allie/allie_slider/allie_17.jpg"></div><div><img src="/images/allie/allie_slider/allie_18.jpg"></div><div><img src="/images/allie/allie_slider/allie_19.jpg"></div><div><img src="/images/allie/allie_slider/allie_2.jpg"></div><div><img src="/images/allie/allie_slider/allie_20.jpg"></div><div><img src="/images/allie/allie_slider/allie_21.jpg"></div><div><img src="/images/allie/allie_slider/allie_22.jpg"></div><div><img src="/images/allie/allie_slider/allie_23.jpg"></div><div><img src="/images/allie/allie_slider/allie_24.jpg"></div><div><img src="/images/allie/allie_slider/allie_25.jpg"></div><div><img src="/images/allie/allie_slider/allie_26.jpg"></div><div><img src="/images/allie/allie_slider/allie_27.jpg"></div><div><img src="/images/allie/allie_slider/allie_28.jpg"></div><div><img src="/images/allie/allie_slider/allie_29.jpg"></div><div><img src="/images/allie/allie_slider/allie_3.jpg"></div><div><img src="/images/allie/allie_slider/allie_30.jpg"></div><div><img src="/images/allie/allie_slider/allie_31.jpg"></div><div><img src="/images/allie/allie_slider/allie_32.jpg"></div><div><img src="/images/allie/allie_slider/allie_33.jpg"></div><div><img src="/images/allie/allie_slider/allie_34.jpg"></div><div><img src="/images/allie/allie_slider/allie_35.jpg"></div><div><img src="/images/allie/allie_slider/allie_36.jpg"></div><div><img src="/images/allie/allie_slider/allie_37.jpg"></div><div><img src="/images/allie/allie_slider/allie_38.jpg"></div><div><img src="/images/allie/allie_slider/allie_39.jpg"></div><div><img src="/images/allie/allie_slider/allie_4.jpg"></div><div><img src="/images/allie/allie_slider/allie_40.jpg"></div><div><img src="/images/allie/allie_slider/allie_41.jpg"></div><div><img src="/images/allie/allie_slider/allie_42.jpg"></div><div><img src="/images/allie/allie_slider/allie_43.jpg"></div><div><img src="/images/allie/allie_slider/allie_44.jpg"></div><div><img src="/images/allie/allie_slider/allie_45.jpg"></div><div><img src="/images/allie/allie_slider/allie_46.jpg"></div><div><img src="/images/allie/allie_slider/allie_47.jpg"></div><div><img src="/images/allie/allie_slider/allie_48.jpg"></div><div><img src="/images/allie/allie_slider/allie_49.jpg"></div><div><img src="/images/allie/allie_slider/allie_5.jpg"></div><div><img src="/images/allie/allie_slider/allie_50.jpg"></div><div><img src="/images/allie/allie_slider/allie_6.jpg"></div><div><img src="/images/allie/allie_slider/allie_7.jpg"></div><div><img src="/images/allie/allie_slider/allie_8.jpg"></div><div><img src="/images/allie/allie_slider/allie_9.jpg"></div>
                    
            </div>
            
            <div class="sliderNavBox">
                <div class="slider-nav">
                   
                    <div class="slide"><img src="/images/allie/allie_slider/0allie0.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/0allie1.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/0allie3.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/0llie2.jpg"></div>
                    <div class="slide"><img src="/images/allie/allie_slider/allie_agility0.jpg" alt=""></div>
                    <div class="slide"><img src="/images/allie/allie_slider/allie_agility1.jpg" alt=""></div>
                    <div class="slide"><img src="/images/allie/allie_slider/allie_agility2.jpg" alt=""></div>
                    <div class="slide"><img src="/images/allie/allie_slider/allie_agility3.jpg" alt=""></div>
                    <div class="slide"><img src="/images/allie/allie_slider/allie_agility4.jpg" alt=""></div>
                    <div class="slide"><img src="/images/allie/allie_slider/allie_agility5.jpg" alt=""></div>
                    <div class="slide"><img src="/images/allie/allie_slider/allie_0.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_1.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_10.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_11.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_12.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_13.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_14.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_15.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_16.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_17.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_18.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_19.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_2.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_20.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_21.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_22.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_23.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_24.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_25.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_26.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_27.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_28.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_29.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_3.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_30.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_31.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_32.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_33.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_34.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_35.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_36.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_37.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_38.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_39.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_4.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_40.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_41.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_42.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_43.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_44.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_45.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_46.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_47.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_48.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_49.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_5.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_50.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_6.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_7.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_8.jpg"></div><div class="slide"><img src="/images/allie/allie_slider/allie_9.jpg"></div>
                    
                </div>
            </div>
        </div>
        <div class="dogText1 dogText">
            <h3>
                <strong>Date of Birth</strong>: September 15th 2013
                <br>
                <strong>Weight</strong>: 46Lbs| Height: 19.5 inches | OFA Hips: Good | OFA Elbows: Normal | Penn Hip
                80th percentile
                <br>
                Eyes cleared annually | Bite: Full Dentition/Scissors
                                <br>
                <strong>Breeder</strong>: Jacquie Hallenbeck, Terri Morgan, Selena Poplin, Elizabeth Stibley
                <br>
                <strong>Owner</strong>: Jacquie Hallenbeck

            </h3>
            

        </div>
        <div class="sireDamDiv">
            <div class="sireDamElement">
                <h1>Sire</h1>
                <img src="/images/allie/allie_sire.jpg" alt="">
                <h3>
                    AKC Bronze GCH/ ASCA CH <strong>One Fell Swoop</strong>
                    <br>

                </h3>
                <h4><a href="http://www.vinelakeaussies.com/swoop.htm">Link</a> to Vinelake Aussies</h4>
            </div>
            <div class="sireDamElement">
                <h1>Dam</h1>
                <img src="/images/allie/allie_dam.jpg" alt="">
                <h3>
                    ASCA CH <strong>Calais Carolina Betty Boop</strong>
                </h3>
            </div>
        </div>

        <div class="dogText dogText3 mainStyle ">
            <div id="offSpringFlex">
                <div id="offspringLine">
                    <h1>Allie's Offspring</h1>
                </div>

            </div>

            <div class="offspringBox">
                <div class="offspringElement">
                    <div class="offspringSire ">
                        <h1>Sire: Cole</h1>
                        <img src="/images/allie/Cole_1.png" alt="">
                        <h3>
                            HOF CH Lyrics Night and Day ROMII, ROMXIII
                            <br>
                            <a href="http://www.lyricaussies.com/cole.html"><strong>COLE</strong></a>
                        </h3>
                    </div>

                </div>
                <div class="offspringElement">
                    <div class="offspring">
                        <div class="pupper">
                            <img src="/images/allie/deacon_0.jpg" alt="">
                            <h3>
                                AKC GCH ASCA CH Highlines The Messenger
                                <br>
                                <strong>Deacon</strong>
                                <br>
                                Owned by Kim Edlin and Jacquie Hallenbeck </h3>
                        </div>
                        <div class="pupper">
                            <img src="/images/stout/stoutsm.jpg" alt="">
                            <h3>
                                AKC GCH ASCA CH Highlines Well Did You Evah?
                                <br>
                                <strong>Stout</strong>
                                <br>
                                Owned by Mia Sorensen
                            </h3>
                        </div>
                        <div class="pupper">
                            <img src="/images/bred_by/wyatt/wyatt_bredby.jpg" alt="">
                            <h3>
                                HIGHLINES WYATT OF TOMBSTONE BN GS-O RS-N RNX
                                <br>
                                <strong>Wyatt</strong>
                                <br>
                                Owned by Shawn O’Hara and Jacquie Hallenbeck
                            </h3>

                        </div>
                    </div>

                </div>
                <div id="offspringLine" class="lineBottom"></div>
            </div>
            <div class="offspringBox">
                <div class="offspringElement">
                    <div class="offspringSire ">
                        <h1>Sire: Tango</h1>
                        <img src="/images/tango/tangosm.jpg" alt="">
                        <h3>
                            MBIS MBISS GCh. ASCA CH Silverwood's Kiss of Fire at Limelite
                            <br>
                            <a href="http://www.limeliteaussies.com/tango.html"><strong>TANGO</strong></a>
                        </h3>
                    </div>

                </div>
                <div class="offspringElement">
                    <div class="offspring">
                        <div class="pupper">
                            <img src="/images/lulu/lulu_mainsm.jpg" alt="">
                            <h3>
                                AKC GCH/ASCA CH Highline’s To Sir with Love GS-N JS-N RS-N RNX RAX REX RMX DNA-VP
                                <br>
                                <a href="/ourdogs/lulu"><strong>LULU</strong></a>
                                <br>
                                Owned by Jacquie Hallenbeck </h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/slider.js">

</script>