<div class="contentWrapper">
    <div class="soloDogPage">
        <div class="bannerText">
            <h1>Bogart</h1>
            
            
        </div>
        <p class="center">(deceased)</p>
        <!-- <div class="dogMainImg">
            <img src="/images/lulu/lulu_gallery29.jpg" alt="">
        </div> -->
                <div class="sliderBox" data-dog='bogart'>
                    <div class="slider-for">
                    
                        <div><img src="/images/bred_by/bogart/bogart_slider/bogart_0.jpg"></div><div><img src="/images/bred_by/bogart/bogart_slider/bogart_1.jpg"></div><div><img src="/images/bred_by/bogart/bogart_slider/bogart_2.jpg"></div><div><img src="/images/bred_by/bogart/bogart_slider/bogart_3.jpg"></div><div><img src="/images/bred_by/bogart/bogart_slider/bogart_4.jpg"></div><div><img src="/images/bred_by/bogart/bogart_slider/bogart_5.jpg"></div><div><img src="/images/bred_by/bogart/bogart_slider/bogart_6.jpg"></div><div><img src="/images/bred_by/bogart/bogart_slider/bogart_7.jpg"></div><div><img src="/images/bred_by/bogart/bogart_slider/bogart_8.jpg"></div></div>
                </div>

        <div class="dogTitle bredByDog">
            <h3>
                <strong>CALAIS CAROLINA HERE’S LOOKING AT YOU KID </strong>
                
            </h3>
        </div>
        
                
                <div class="sliderNavBox">
                    <div class="slider-nav">
                        <div class="slide"><img src="/images/bred_by/bogart/bogart_slider/bogart_0.jpg"></div><div class="slide"><img src="/images/bred_by/bogart/bogart_slider/bogart_1.jpg"></div><div class="slide"><img src="/images/bred_by/bogart/bogart_slider/bogart_2.jpg"></div><div class="slide"><img src="/images/bred_by/bogart/bogart_slider/bogart_3.jpg"></div><div class="slide"><img src="/images/bred_by/bogart/bogart_slider/bogart_4.jpg"></div><div class="slide"><img src="/images/bred_by/bogart/bogart_slider/bogart_5.jpg"></div><div class="slide"><img src="/images/bred_by/bogart/bogart_slider/bogart_6.jpg"></div><div class="slide"><img src="/images/bred_by/bogart/bogart_slider/bogart_7.jpg"></div><div class="slide"><img src="/images/bred_by/bogart/bogart_slider/bogart_8.jpg"></div></div>
                </div>
            <div class="dogText1 dogText">
            <h3>
                <strong>OWNED BY:</strong> CANDI KNOPP
                <br>
                <strong>BRED BY:</strong> CALAIS CAROLINA  AND HIGHLINE AUSSIES 


            </h3>
            
            
        </div>
        <div class="sireDamDiv">
            <div class="sireDamElement">
                <h1>Sire</h1>
                <img src="/images/tango/tangosm.jpg" alt="">
                <h3>
                     
                    AKC/ASCA CH<br> <strong>CALAIS CAROLINA UNMARKED BILLS </strong>ATDs OTDd JHDs<br> 
                    <br>
                    <a href=""><strong>MARK</strong></a>

                </h3>

            </div>
            <div class="sireDamElement">
                <h1>Dam</h1>
                <img src="/images/allie/allie_dam.jpg" alt="">
                <h3>
                    ASCA CH <strong>Calais Carolina Betty Boop</strong>
                    <br><br><br>
                    <strong>BOOP</strong>
                </h3>
            </div>
        </div>
        
    </div>
</div>
<script src="/js/slider.js">

</script>