<!-- main div -->
<div class="contentWrapper">
    <div class="bannerText">
        <h1>main header here</h1>
    </div>

</div>
<!-- pictures with links to dogs from ourdogs page -->
<div id="topBox" class="dogBox" data-test="test">
    <div id="crushDiv" class="dogDiv">
        <img src="" alt="" id="allieLink" data-links="/ourdogs/crush">
            <h3> <!--dog title-->
            <br>
            <a href=""><strong> <!--dog name--> </strong></a>
        </h3>
    </div>
    <div id="delaDiv" class="dogDiv">
        <img src="/images/dela/Main/dela_ourdogs2.jpg" alt="" id="delaLink" data-links="/ourdogs/dela">
            <h3><!--dog title-->
            <br>
            <a href="/ourdogs/dela"><strong><!--dog name--></strong></a>
        </h3>
    </div>
</div>