<div class="contentWrapper">
    <div class="bannerText">
        <h1>Bred By

        </h1>
    </div>
    <div id="topBox" class="dogBox bredBy" data-test="test">
        <div id="crushDiv" class="dogDiv">
            <img src="/images/bred_by/deacon_bredby.jpg" alt="" id="allieLink" data-links="/bredby/deacon">
                <h3>AKC GCH ASCA CH Highlines The Messenger 
                <br>
                <a href="/bredby/deacon"><strong>DEACON</strong></a>
                <br>
                Owned By: Kim Edlin & Jacquie Hallenbeck
            </h3>
        </div>
        <div id="delaDiv" class="dogDiv">
            <img src="/images/bred_by/stout/stout_bredby.jpg" alt="" id="delaLink" data-links="/bredby/stout">
                <h3>AKC GCH ASCA CH Highlines Well Did You Evah?
                <br>
                <a href="/bredby/stout"><strong>STOUT</strong></a>
                <br>
                Owned by: Mia Sorensen
            </h3>
        </div>
    </div>
    <div id="bottomBox" class="dogBox bredBy">
        <div id="luluDiv" class="dogDiv">
            <img src="/images/bred_by/wyatt/wyatt_bredby.jpg" alt="" id="allieLink" data-links="/bredby/wyatt">
                <h3>HIGHLINES WYATT OF TOMBSTONE BN GS-O RS-N RNX
                <br>
                <a href="/bredby/wyatt"><strong>WYATT</strong></a>
                <br>
                Owned by: Shawn O'Hara 
                Co-Owned By: Jacquie Hallenbeck
            </h3>
        </div>
        <div id="crushDiv" class="dogDiv">
            <img src="/images/bred_by/nike/nike_bredby.jpg" alt="" id="delaLink" data-links="/bredby/nike">
                <h3>HIGHLINE IN IT TO WIN IT GYPSE JS-O RS-O DNA-VP
                <br>
                <a href="/bredby/nike"><strong>NIKE</strong></a>
                <br>
                Owned by: Sabrina Christie<br>
                Co-owned By: Jacquie Hallenbeck & Alexis Jackson
            </h3>
        </div>
    
        
    </div>
    <div id="bottomBox" class="dogBox bredBy">
        <div id="luluDiv" class="dogDiv">
            <img src="/images/bred_by/bacio/bacio_bredby.jpg" alt="" id="allieLink" data-links="/bredby/bacio">
                <h3>HIGHLINE'S MY IRISH EYES ARE SMILING @ GYPSE
                <br>
                <a href="/bredby/bacio"><strong>BACIO</strong></a>
                <br>
                Owned by: Sandy Ketter
                <br>
                Co-owned By: Jacquie Hallenbeck & Alexis Jackson
            </h3>
        </div>
        <div id="luluDiv" class="dogDiv">
                <img src="/images/bred_by/taylor/taylor_bredbysm.jpg" alt="" id="allieLink" data-links="/bredby/taylor">
                    <h3>ASCA CH CALAIS CAROLINA NOTHING BUT CARTIER
                    <br>
                    <a href="/bredby/taylor"><strong>TAYLOR</strong></a>
                    <br>
                    Owned by: Terri Morgan, Selena Poplin & Elizabeth Stibley
                </h3>
            </div>
            
        
    
        
    </div>
    <div id="bottomBox" class="dogBox bredBy">
        <div id="luluDiv" class="dogDiv">
            <img src="/images/bred_by/parker/parker_slider/parker_bredby.jpg" alt="" id="allieLink" data-links="/bredby/parker">
                <h3>Highline Parker James Kopas 
                <br>
                <a href="/bredby/parker"><strong>PARKER</strong></a>
                <br>
                Owned by: Terry Kopas
            </h3>
        </div>
        <div id="luluDiv" class="dogDiv">
            <img src="/images/bred_by/layla/layla_bredby.jpg" alt="" id="allieLink" data-links="/bredby/layla">
                <h3>ASCA CH CAROLINA CALAIS GLAMOUR GIRL
                <br>
                <a href="/bredby/parker"><strong>LAYLA</strong></a>
                <br>
                Owned by: Christine Norton, Terri Morgan & Selena Poplin
            </h3>
        </div>
        
            
        
    
        
    </div>
    <div id="bottomBox" class="dogBox bredBy">
        <div id="luluDiv" class="dogDiv">
            <img src="/images/bred_by/bogart/bogart_bredby.jpg" alt="" id="" data-links="/bredby/bogart">
                <h3>CALAIS CAROLINA HERE’S LOOKING AT YOU KID  
                <br>
                <a href="/bredby/bogart"><strong>BOGART</strong></a>
                <br>
                Owned by: Candi Knopp
            </h3>
        </div>
       
        
            
        
    
        
    </div>

</div>