<div class="contentWrapper">
    <div class="bannerText">
        <h1>Contact Us</h1>
    </div>
    <div id="contactImage">
        <img src="/images/ContactImageSM.jpg" alt="">
    </div>
</div>
<script>
    var contact = document.getElementsByClassName(contact);
    $(document).ready(function(){
        $(".contact").find("p").attr("style", "font-size: 18px");
        $(".contact").find("a").attr("style", "font-size: 18px");
    });
</script>