<div class="contentWrapper">
    <div class="soloDogPage">
        <div class="bannerText">
            <h1>Crush</h1>
        </div>

        <div class="dogMainImg">
            <img src="/images/crush/crush_main.jpg" alt="">
        </div>
        <div class="dogTitle">
            <h3>
                <strong>Sonkist Got a Crush on You</strong>
            </h3>
        </div>
        <div class="dogText dogText2 mainStyle">
            <h1>About Crush</h1>
            <p>
                Crush came to us from our friends at Sonkist Australian Shepherds in California. He is out of HOF
                BISS/BIS CH Carolina Calais On The Fly, (number 1 ASCA intact 2008/2009) and ASCA/AKC CH Calais Carolina
                Call Me Classic, DNA-VP Crush did not make it as a show dog and was neutered at 15 months but he was a
                very much loved member of the family who soon found his calling as a service dog for my son Ross who has
                type 1 diabetes. Crush is a very smart, empathetic dog who very quickly became an expert at detecting
                low blood sugar. On more than one occasion he has prevented Ross from going into a diabetic coma and has
                even alerted complete strangers to low blood sugar. 
            </p>
            <div class="dogSecondaryImg bottomPad">
                <img src="/images/crush/image5.jpg" alt="">
            </div>
            <p>
                When he’s not working as a service dog Crush loves
                to go hiking and play ball. He also loves cats and is very sweet and gentle with them. Over the years
                Crush has made many friends with his calm, kind demeanor, he is the perfect Aussie Ambassador
                


            </p>
        </div>
        <div class="sliderBox" data-dog="crush">
            <div class="slider-for">

                <div><img src="/images/crush/crush_slider/00crush_3.jpg"></div><div><img src="/images/crush/crush_slider/01crush_5.jpg"></div><div><img src="/images/crush/crush_slider/02crush_8.jpg"></div><div><img src="/images/crush/crush_slider/crush_0.jpg"></div><div><img src="/images/crush/crush_slider/crush_1.jpg"></div><div><img src="/images/crush/crush_slider/crush_2.jpg"></div><div><img src="/images/crush/crush_slider/crush_4.jpg"></div><div><img src="/images/crush/crush_slider/crush_6.jpg"></div><div><img src="/images/crush/crush_slider/crush_7.jpg"></div></div>
            <div class="sliderNavBox">
                <div class="slider-nav">

                    <div class="slide"><img src="/images/crush/crush_slider/00crush_3.jpg"></div><div class="slide"><img src="/images/crush/crush_slider/01crush_5.jpg"></div><div class="slide"><img src="/images/crush/crush_slider/02crush_8.jpg"></div><div class="slide"><img src="/images/crush/crush_slider/crush_0.jpg"></div><div class="slide"><img src="/images/crush/crush_slider/crush_1.jpg"></div><div class="slide"><img src="/images/crush/crush_slider/crush_2.jpg"></div><div class="slide"><img src="/images/crush/crush_slider/crush_4.jpg"></div><div class="slide"><img src="/images/crush/crush_slider/crush_6.jpg"></div><div class="slide"><img src="/images/crush/crush_slider/crush_7.jpg"></div></div>
            </div>
        </div>
        <div class="dogText1 dogText">
            <h3>
                <strong>Date of Birth</strong>: October 18th, 2009
                <br>
                <strong>Owners</strong>: Jacquie Hallenbeck, Ross Hallenbeck


            </h3>
            

        </div>
        <div class="sireDamDiv">
            <div class="sireDamElement">
                <h1>Sire</h1>
                <img class="emmiTuckerImg" src="/images/crush/Tucker_main.jpg" alt="">
                <h3>
                    <strong>Calais Carolina Call Me Classic</strong>
                    <br>
                    <a href="http://www.sonkistaussies.com/Boys.html"><strong>TUCKER</strong></a>

                </h3>

            </div>
            <div class="sireDamElement">
                <h1>Dam</h1>
                <img class="emmiTuckerImg" src=/images/crush/Emmi_crop.jpg alt="">
                <h3>
                    <strong>Calais Carolina On The Fly</strong>
                    <br>
                    <a href="http://www.sonkistaussies.com/Emmi.html"><strong>EMMI</strong></a>
                </h3>
            </div>
        </div>
        
    </div>
</div>
<script src="/js/slider.js">

</script>