<div class="contentWrapper">
    <div class="soloDogPage">
        <div class="bannerText">
            <h1>Dela</h1>
        </div>

        <div class="dogMainImg">
            <img src="/images/dela/Main/dela_main1.jpg" alt="">
        </div>
        <div class="dogTitle">
            <h3>
                SVCH VCH SPCH PCH WTCH A-CH RTCH <strong>Carolina Calais Set Fire To The Rain</strong>
                
                <br> GS-E JS-E RS-E RAX REX HDAds OA OAJ
                
            </h3>
        </div>
        <div class="dogText dogText2 mainStyle">
            <h1>About Dela</h1>
            <p>
                Dela was the puppy who wasn’t supposed to stay. We were asked to watch her for a couple of weeks while
                her owners/breeders were at Australian Shepherd Nationals but of course she never left and the rest is
                history! We fell in love with her quirky, independent and sweet personality and after much pleading our
                good friends who bred/owned her agreed she could stay. You may notice the slew of championships and
                titles before and after her name, there’s a story to them. When Terri Morgan one of Dela’s breeders
                agreed to let her stay she said to me “I want you to make sure she uses her brain, she has too much
                talent to not have a job.” Well that was the start of an amazing journey that led to my love and passion
                for performance. Dela was my first rally champion, my first obedience dog, my first nosework dog. She
                was the dog who kindled my passion for agility. Dela forced me to become a thoughtful, positive and fair
                handler and I wouldn’t be the trainer I am today if not for her. Together we earned multiple High in
                Trials and top placements at our National Specialties. She holds a special place in my friend and mentor
                Terri Morgan’s heart too, not only as Dela’s breeder/co-owner but as her handler to her first WTCH. This
                was an accomplishment that I know both of us won’t forget in a hurry.
                <br><br>
                Dela is chief puppy raiser here at Highline Aussies, from the moment the dam is ok with Dela stepping in
                she throws herself into puppy care. From cleaning to teaching them how to play tug she is the adoring
                puppy nanny. Watching her with another dams offspring is enough to melt your heart.
            </p>
            
        </div>
        <div class="sliderBox" data-dog='dela'>
            <div class="slider-for"><div><img src="/images/dela/dela_slider/0dela_gallery17.jpg"></div><div><img src="/images/dela/dela_slider/dela_gallery1.jpg"></div>
            <div><img src="/images/dela/dela_slider/dela_agility0.jpg" alt=""></div>
                    <div><img src="/images/dela/dela_slider/dela_agility2.jpg" alt=""></div>
                    <div><img src="/images/dela/dela_slider/dela_agility3.jpg" alt=""></div>
                    <div><img src="/images/dela/dela_slider/dela_agility4.jpg" alt=""></div>
                    <div><img src="/images/dela/dela_slider/dela_agility5.jpg" alt=""></div>
            
            <div><img src="/images/dela/dela_slider/dela_gallery10.jpg"></div><div><img src="/images/dela/dela_slider/dela_gallery11.jpg"></div><div><img src="/images/dela/dela_slider/dela_gallery12.jpg"></div><div><img src="/images/dela/dela_slider/dela_gallery13.jpg"></div><div><img src="/images/dela/dela_slider/dela_gallery14.jpg"></div><div><img src="/images/dela/dela_slider/dela_gallery15.jpg"></div><div><img src="/images/dela/dela_slider/dela_gallery16.jpg"></div><div><img src="/images/dela/dela_slider/dela_gallery18.jpg"></div><div><img src="/images/dela/dela_slider/dela_gallery19.jpg"></div><div><img src="/images/dela/dela_slider/dela_gallery2.jpg"></div><div><img src="/images/dela/dela_slider/dela_gallery20.jpg"></div><div><img src="/images/dela/dela_slider/dela_gallery21.jpg"></div><div><img src="/images/dela/dela_slider/dela_gallery22.jpg"></div><div><img src="/images/dela/dela_slider/dela_gallery23.jpg"></div><div><img src="/images/dela/dela_slider/dela_gallery24.jpg"></div><div><img src="/images/dela/dela_slider/dela_gallery25.jpg"></div><div><img src="/images/dela/dela_slider/dela_gallery26.jpg"></div><div><img src="/images/dela/dela_slider/dela_gallery27.jpg"></div><div><img src="/images/dela/dela_slider/dela_gallery28.jpg"></div><div><img src="/images/dela/dela_slider/dela_gallery29.jpg"></div><div><img src="/images/dela/dela_slider/dela_gallery3.jpg"></div><div><img src="/images/dela/dela_slider/dela_gallery30.jpg"></div><div><img src="/images/dela/dela_slider/dela_gallery31.jpg"></div><div><img src="/images/dela/dela_slider/dela_gallery4.jpg"></div><div><img src="/images/dela/dela_slider/dela_gallery5.jpg"></div><div><img src="/images/dela/dela_slider/dela_gallery6.jpg"></div><div><img src="/images/dela/dela_slider/dela_gallery7.jpg"></div><div><img src="/images/dela/dela_slider/dela_gallery8.jpg"></div><div><img src="/images/dela/dela_slider/dela_gallery9.jpg"></div></div>
            <div class="sliderNavBox">
            <div class="slider-nav"><div class="slide"><img src="/images/dela/dela_slider/0dela_gallery17.jpg"></div><div class="slide"><img src="/images/dela/dela_slider/dela_gallery1.jpg"></div>
            <div class="slide"><img src="/images/dela/dela_slider/dela_agility0.jpg" alt=""></div>
                    <div class="slide"><img src="/images/dela/dela_slider/dela_agility2.jpg" alt=""></div>
                    <div class="slide"><img src="/images/dela/dela_slider/dela_agility3.jpg" alt=""></div>
                    <div class="slide"><img src="/images/dela/dela_slider/dela_agility4.jpg" alt=""></div>
                    <div class="slide"><img src="/images/dela/dela_slider/dela_agility5.jpg" alt=""></div>
            <div class="slide"><img src="/images/dela/dela_slider/dela_gallery10.jpg"></div><div class="slide"><img src="/images/dela/dela_slider/dela_gallery11.jpg"></div><div class="slide"><img src="/images/dela/dela_slider/dela_gallery12.jpg"></div><div class="slide"><img src="/images/dela/dela_slider/dela_gallery13.jpg"></div><div class="slide"><img src="/images/dela/dela_slider/dela_gallery14.jpg"></div><div class="slide"><img src="/images/dela/dela_slider/dela_gallery15.jpg"></div><div class="slide"><img src="/images/dela/dela_slider/dela_gallery16.jpg"></div><div class="slide"><img src="/images/dela/dela_slider/dela_gallery18.jpg"></div><div class="slide"><img src="/images/dela/dela_slider/dela_gallery19.jpg"></div><div class="slide"><img src="/images/dela/dela_slider/dela_gallery2.jpg"></div><div class="slide"><img src="/images/dela/dela_slider/dela_gallery20.jpg"></div><div class="slide"><img src="/images/dela/dela_slider/dela_gallery21.jpg"></div><div class="slide"><img src="/images/dela/dela_slider/dela_gallery22.jpg"></div><div class="slide"><img src="/images/dela/dela_slider/dela_gallery23.jpg"></div><div class="slide"><img src="/images/dela/dela_slider/dela_gallery24.jpg"></div><div class="slide"><img src="/images/dela/dela_slider/dela_gallery25.jpg"></div><div class="slide"><img src="/images/dela/dela_slider/dela_gallery26.jpg"></div><div class="slide"><img src="/images/dela/dela_slider/dela_gallery27.jpg"></div><div class="slide"><img src="/images/dela/dela_slider/dela_gallery28.jpg"></div><div class="slide"><img src="/images/dela/dela_slider/dela_gallery29.jpg"></div><div class="slide"><img src="/images/dela/dela_slider/dela_gallery3.jpg"></div><div class="slide"><img src="/images/dela/dela_slider/dela_gallery30.jpg"></div><div class="slide"><img src="/images/dela/dela_slider/dela_gallery31.jpg"></div><div class="slide"><img src="/images/dela/dela_slider/dela_gallery4.jpg"></div><div class="slide"><img src="/images/dela/dela_slider/dela_gallery5.jpg"></div><div class="slide"><img src="/images/dela/dela_slider/dela_gallery6.jpg"></div><div class="slide"><img src="/images/dela/dela_slider/dela_gallery7.jpg"></div><div class="slide"><img src="/images/dela/dela_slider/dela_gallery8.jpg"></div><div class="slide"><img src="/images/dela/dela_slider/dela_gallery9.jpg"></div></div>
        </div>
    </div>
        <div class="dogText1 dogText">
            <h3>
                <strong>Date of Birth</strong>: Feburary 2, 2012 
                <br>
                <strong>Height</strong>: 21.5 inches | OFA Hips: Good | OFA Elbows:
                Normal | Penn hip: 80%
                <br>
                Eyes cleared annually | Bite: Full Dentition/Scissors
                <br>
                
                <strong>Breeders</strong>: T. Morgan, S. Poplin, E. Stibley 
                <br>
                <strong>Owners</strong>: Jacquie Hallenbeck, T.Morgan, S.Poplin E. Stibley


            </h3>
            

        </div>
        <div class="sireDamDiv">
            <div class="sireDamElement">
                <h1>Sire</h1>
                <img src="/images/dela/sire_dam/dela_sire.jpg" alt="">
                <h3>
                    BIS HOF AKC GCH ASCA CH <br><strong>Hearthside's Standing Ovation</strong>
                    <br>
                    <a href="http://www.absolootaussies.com/bravo.htm"><strong>BRAVO</strong></a>

                </h3>

            </div>
            <div class="sireDamElement">
                <h1>Dam</h1>
                <img src="/images/dela/sire_dam/dela_dam.jpg" alt="">
                <h3>
                    HOF ASCA CH <strong>Calais Carolina Stella Performance</strong>
                    
                    <br>
                    <a href=""><strong>STELLA</strong></a>
                </h3>
            </div>
        </div>
        
    </div>
</div>
<script src="/js/slider.js">

</script>