<%- include('partials/_litter_alert.ejs') %>
<div class="contentWrapper">
    <div class="bannerText">
        <h1>Welcome</h1>
    </div>
    <div id="homeImageBox">
        <div id="homeImg">
            <img src="/images/highline_home.jpg" alt="">
        </div>
    </div>
    <div id="homeBio">
        <p>We are a small hobby breeder located on two acres in beautiful rural Greenwood Village CO. Our goal is to
            raise outstanding Australian Shepherds that are not only beautiful but have good structure, superb
            temperaments, excellent health and make wonderful companions. Our dogs are our family and treasured
            companions first, competition dogs second and we occasionally breed when we are looking to keep something
            for ourselves. We train and compete in conformation, obedience, rally, nose work, herding and agility. When we are
            not training for competition you will often find us with the dogs hiking in the foothills, walking or biking
            along the Highline Canal or in the winter skijoring or snowshoeing in the mountains. Our dog’s health and
            wellbeing is our priority and we ensure this by providing daily exercise and mental stimulation, feeding a
            very high quality diet and regular grooming, massage and chiropractic care. <br>
        </p>
        <div class="imgBox">
            <img src="/images/main2.jpg" alt="" class="secondImg">
        </div>
        
        <p>
            <br> Please enjoy our website,
            we are very proud of our beautiful dogs and happy to answer any questions you may have.</p>
    </div>
</div>


