<div class="contentWrapper">
    <div class="bannerText">
        <h1>Information</h1>
    </div>
    <div class="links mainStyle">
        <p><strong>Local links</strong>
        <br>
        <a href="http://coloaussies.org/">Colorado Australian Shepherd Association</a>
        <br>
        <a href="http://southerncoloradoasc.org/">Southern Colorado Australian Shepherd Club</a>
        <br>
        <br>
        <strong>Rescue</strong>
        <br>
        <a href="http://westernaustralianshepherdrescue.com/">Western Australian Shepherd Rescue</a>
        <br>
        <br>
        <strong>Useful links</strong>
        <br>
        <a href="http://ashi.org/">Australian Shepherd Health and Genetics</a>
        <br>
        <a href="http://asca.org/">Australian Shepherd Club of America</a>
        <br>
        <a href="http://akc.org/">American Kennel Club</a>
        <br>
        <a href="http://https//vcpl.vetmed.wsu.edu">Information on MDR1</a>
        <br>
        <br>
        <strong>Links to interesting articles</strong>
        <br>
        <a href="http://www.australian-shepherd-lovers.com/advise-before-buying.html">Before buying an Australian Shepherd</a>
        <br>
        <a href="http://www.karenshanley.com/raising-an-australian-shepherd-puppy">Five facts you should know before buying an Australian Shepherd</a>
        <br>
        <a href="http://www.akcchf.org/news-events/news/health-implications-in-early.html?">Pros and cons of early spay and neuter</a>
        <br>
        <a href="http://www.thedogplace.org/spay-neuter/considerations-canine-athelete_zink.asp">Spay/neuter and the canine athlete</a>
        <br>
        <br>
        <strong>Information on over vaccination</strong>
        <br>
        <a href="http://www.dogsnaturallymagazine.com/lifelong-immunity-vets/">Lifelong immunity - Why vets are pushing back</a>
        <br>
        <a href="http://healthypets.mercola.com/sites/healthypets/archive/2014/08/06/pet-vaccination.aspx">Titer tests & overvaccination</a>
        <br>
        <strong>Other Links</strong>
        <br>
        <a href="/files/A-COMPARISON-OF-Responsible-Hobby-Breeders-and-Backyard-Breeders.pdf">A COMPARISON OF Responsible Hobby Breeders and Backyard Breeders</a>
        <br>
        <a href="/files/An-argument-for-ethical-dog-breeders.pdf">An argument for ethical dog breeders</a>
        <br>
        <a href="/files/Blaming-reputable-breeders-will-not-cure-dog-abandonment.pdf">Blaming reputable breeders will not cure dog abandonment </a>
        <br>
        <a href="/files/Dog-Neutering-The-Unspoken-Risks-Of-Neutering-Dogs-First.pdf">Dog Neutering The Unspoken Risks Of Neutering Dogs First </a>
        <br>
        <a href="/files/How-Dogs-See-the-World-Through-Different-Odors-Psychology-Today.pdf">How Dogs See the World Through Different Odors Psychology Today</a>
        <br>
        <a href="/files/Spay-and-Neuter-Surgery’s-Effects-on-Orthopedic-Disease-Behaviour-and-General-Health-in-Dogs-The-IAABC-Journal.pdf">Spay and Neuter Surgery’s Effects on Orthopedic Disease Behaviour and General Health in Dogs The IAABC Journal</a>
        <br>
        <a href="/files/The-fundamental-difference-between-purebred-dogs-and-well-bred-dogs.pdf">The fundamental difference between purebred dogs and well bred dogs</a>
        <br>
        <a href="/files/To-Harness-Or-Not-To-Harness-That-Is-The-Question-Avidog-Zink-Ventures.pdf">To Harness Or Not To Harness That Is The Question - Avidog Zink Ventures</a>
        <br>
        <a href="/files/We-need-to-stop-calling-it-socialization-Play-Way-Dogs.pdf">We need to stop calling it socialization Play Way Dogs</a>
        <br>
        <a href="/files/Why-the-adopt-don’t-shop-mentality-is-detrimental-to-dogs..pdf">Why the adopt don’t shop mentality is detrimental to dogs</a>
        <br>

    </p>
    </div>
    
</div>