<div class="contentWrapper">
    <div class="bannerText">
        <h1 style="font-size: 80px !important; ">Puppy Raising at Highline</h1>
    </div>
    <div class="imgBox">
        <img src="/images/puppy_raising/puppies_main.jpg" alt="">
    </div>
    <div class="mainStyle">
        <h3>
            How puppies are raised at Highline

            <br>
        </h3>
        <p>
            We take raising puppies very seriously at Highline Aussies. We are constantly researching and implementing
            the
            latest information and equipment to help us raise well adjusted, confident and social puppies that will
            transition with ease into their new homes.
            <br>
            <br>
            Puppies are whelped and raised in the house with ample time in our lovely fenced yard for fresh air,
            exercise and exposure to multiple surfaces, toys and equipment. We incorporate many of
            the Puppy Culture/Avid Dog techniques starting with Early Neurological Stimulation at three days of
            age. <br>
            Learn more about Early Neurological Stimulation <a
                href="http://www.breedingbetterdogs.com/article/early-neurological-stimulation">HERE</a>
            <br>
            <br>
        </p>
    </div>
    <div class="sliderBox">
        <div class="slider-for for1">
            <div><img src="/images/puppy_raising/IMG_1029.jpeg" alt=""></div>
            <div><img src="/images/puppy_raising/new_upload1.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/new_upload3.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/new_upload4.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/new_upload0.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/new_upload2.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppy_raising_1.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppy_raising_3.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppy_raising_13.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppy_raising_14.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppy_raising_15.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppy_raising_35.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppy_raising_36.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppy_raising_39.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppy_raising_31.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppy_raising_29.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppy_raising_19.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppy_raising_20.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppy_raising_32.jpg" alt=""></div>
        </div>
    </div>

    <div class="sliderNavBox">
        <div class="slider-nav nav1">
            <div class="slide"><img src="/images/puppy_raising/IMG_1029.jpeg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/new_upload1.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/new_upload3.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/new_upload4.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/new_upload0.jpg" alt=""></div>

            <div class="slide"><img src="/images/puppy_raising/new_upload2.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppy_raising_1.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppy_raising_3.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppy_raising_13.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppy_raising_14.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppy_raising_15.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppy_raising_35.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppy_raising_36.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppy_raising_39.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppy_raising_31.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppy_raising_29.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppy_raising_19.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppy_raising_20.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppy_raising_32.jpg" alt=""></div>












        </div>
    </div>

    <div class="mainStyle">
        <p>
            As soon as their ears open we play a puppy sounds CD which exposes puppies to all manner of sounds,
            including
            fireworks, gunshots and thunder. We have found that using this method results in adults that are rarely
            sound
            sensitive.
            <br>
            <br>
            From when they are born, puppies are handled daily including having their nails cut and coat brushed. They
            are
            bathed weekly, starting at five weeks, so they can acclimate to being in the tub, on the grooming table and
            to
            the dryer.
            <br>
            <br>
            Once puppies reach about 5 weeks we start introducing them to larger areas of the house and also to the
            outside.
            Puppies spend a lot of time in the kitchen where they get used to the sounds of daily activity and can
            really be
            part of the family. We encourage puppy visitors at this stage forward. It is so much fun to watch them play
            in
            the bottle pool, adventure box and on the mini agility equipment (see videos). We have lots of puppy parties
            so
            that the puppies are exposed to as many different people as possible.
        </p>
    </div>
    <div class="orbitBox">
        <div class="orbit" role="region" aria-label="puppy videos" data-orbit data-infinite-wrap="false" data-use-m-u-i="false" data-auto-play='false'>
            <div class="orbit-wrapper">
              <div class="orbit-controls">
                <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
                <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
              </div>
              <ul class="orbit-container">
                <li class="is-active orbit-slide">
                  <figure class="orbit-figure">
                    <iframe class="orbit-image" id="player1" src="https://player.vimeo.com/video/407332475" width="394" height="700" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

                    
                  </figure>
                </li>
                <li class="orbit-slide">
                  <figure class="orbit-figure">
                    <iframe class="orbit-image" id="player2" src="https://player.vimeo.com/video/407331552" width="394" height="700" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                  </figure>
                </li>
                <li class="orbit-slide">
                  <figure class="orbit-figure">
                    <iframe class="orbit-image" id="player3" src="https://player.vimeo.com/video/407332233" width="394" height="700" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                  </figure>
                </li>
                <li class="orbit-slide">
                  <figure class="orbit-figure">
                    <iframe class="orbit-image" id="player4" src="https://player.vimeo.com/video/407331907" width="394" height="700" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                  </figure>
                </li>
                <li class="orbit-slide">
                    <figure class="orbit-figure">
                      <iframe class="orbit-image" id="player5" src="https://player.vimeo.com/video/407332352" width="394" height="700" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                    </figure>
                  </li>
              </ul>
            </div>
            <nav class="orbit-bullets">
              <button class="is-active" data-slide="0">
                <span class="show-for-sr">First slide details.</span>
                <span class="show-for-sr" data-slide-active-label>Current Slide</span>
              </button>
              <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
              <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
              <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
            </nav>
          </div>
    </div>
    <div class="mainStyle">
        <p>
        
            At about 6 weeks old we start to do a few short car rides and safe field trips. This may include a visit to
            an
            elementary school class which is a lot of fun and great for the puppies. Crate training, housebreaking and
            clicker training are started at this time.
            </p>
    </div>
    <div class="sliderBox">
        <div class="slider-for for2">
            <div><img src="/images/puppy_raising/puppy_raising_18.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppy_raising_8.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppy_raising_10.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppy_raising_12.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppy_raising_17.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppy_raising_0.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppy_raising_30.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppy_raising_42.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppy_raising_43.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppy_raising_22.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppy_raising_21.jpg" alt=""></div>
        </div>
    </div>

    <div class="sliderNavBox">
        <div class="slider-nav nav2">
            <div class="slide"><img src="/images/puppy_raising/puppy_raising_18.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppy_raising_8.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppy_raising_10.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppy_raising_12.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppy_raising_17.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppy_raising_0.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppy_raising_30.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppy_raising_42.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppy_raising_43.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppy_raising_22.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppy_raising_21.jpg" alt=""></div>
        </div>
    </div>

    <div class="mainStyle">
        <p>
            <br>
            At 7-8 weeks the litter is evaluated by a few friends who are breeder judges. At this time the show
            prospects
            identified. All puppies are also personality tested using the Volhard <a
                href="https://www.searchdogs.co.nz/wp-content/uploads/2017/03/Volhard-Puppy-Aptitude-Test.pdf">method</a>
            which helps us
            place
            puppies in the homes that are the best fit.
            <br>
            <br>
            During this same period, puppies have their eyes examined by an ophthalmologist and are taken to the vet for
            health exams, first vaccinations and microchips.
            <br>
            <br>
            Puppies are ready for their new homes once they turn 8 weeks.
        </p>
    </div>
    <div class="sliderBox">
        <div class="slider-for for3">
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider0.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider1.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider2.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider3.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider4.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider5.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider6.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider7.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider8.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider9.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider10.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider11.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider12.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider13.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider14.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider15.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider16.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider17.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider18.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider19.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider20.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider21.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider22.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider23.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider24.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider25.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider26.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider27.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider28.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider29.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider30.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider31.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider32.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider33.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider34.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider35.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider36.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider37.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider38.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider39.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider40.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider41.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider42.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider43.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider44.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider45.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider46.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider47.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider48.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider49.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider50.jpg" alt=""></div>
            <div><img src="/images/puppy_raising/puppies_slider/puppies_slider51.jpg" alt=""></div> 
        </div>
    </div>
    <div class="sliderNavBox">
        <div class="slider-nav nav3">
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider0.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider1.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider2.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider3.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider4.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider5.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider6.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider7.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider8.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider9.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider10.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider11.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider12.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider13.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider14.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider15.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider16.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider17.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider18.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider19.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider20.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider21.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider22.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider23.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider24.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider25.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider26.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider27.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider28.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider29.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider30.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider31.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider32.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider33.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider34.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider35.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider36.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider37.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider38.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider39.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider40.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider41.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider42.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider43.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider44.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider45.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider46.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider47.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider48.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider49.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider50.jpg" alt=""></div>
            <div class="slide"><img src="/images/puppy_raising/puppies_slider/puppies_slider51.jpg" alt=""></div>
        </div>
    </div>

</div>
<script src="https://player.vimeo.com/api/player.js"></script>
<script src="/js/litter.js"></script>
