<div class="contentWrapper">
    <div class="bannerText">
        <h1>Litters</h1>
    </div>
    <div class="mainStyle center">
        <h3><strong>!NEW!</strong> <a href="/litters/2020"><strong>LULU</strong> Litter CONFIRMED</a></h3>
    </div>
    <div class="sireDamDiv">
        <div class="sireDamElement fixedSize">
            <h1>Sire</h1>
            <img src="/images/2020_litter/chandler_mainsm.jpg" alt="">
            <h3>

                AKC CH/ASCA CH <br><strong>Calais Carolina Your Place Or Mine</strong>
                <br>
                <br>
                <a href="http://www.calaisaussies.com/chandler.html"><strong>CHANDLER</strong></a>
            </h3>
            <!-- <h4><a href="http://www.vinelakeaussies.com/swoop.htm">Link</a> to Vinelake Aussies</h4> -->
        </div>
        <div class="sireDamElement fixedSize">
            <h1>Dam</h1>
            <img src="/images/2020_litter/lulu_mainsm.jpg" alt="">
            <h3>

                AKC GCH/ASCA CH<br> <strong>Highline’s To Sir With Love</strong>
                <br><br>
                <a href="/ourdogs/lulu"><strong>LULU</strong></a>
            </h3>
        </div>
    </div>
    <div class="mainStyle">
        <p>
            AKC GCH/ASCA CH Highline’s To Sir With Love (<a href="/ourdogs/lulu">LULU</a>) has been bred and confirmed
            pregnant to
            AKC/ASCA CH Calais Carolina Your Place Or Mine (<a
                href="http://www.calaisaussies.com/chandler.html">CHANDLER</a>)
            <br>
            <br>
            We expect exceptionally happy, confident, biddable and beautiful puppies from this cross. Blues and blacks
            possible.
            <br>
            <br>
            As it looks like a large litter we may have a couple of companion puppies available. If you are interested
            in a puppy
            please complete our puppy questionnaire (Enter link)or contact us for more details on this litter.
            <br>
            <br>
            Puppies are sold on spay/neuter contracts only. Our puppies are priced at $2000 and come with eye exams with
            a licensed
            ophthalmologist, health check, first vaccinations and microchips. They have started crate training, clicker
            training,
            leash training and have been exposed to many different social environments. <br><br>
            Most people know not to buy from pet stores as doing so supports puppy mills. But how do you find a
            reputable breeder and what is the difference between a hobby breeder and a backyard breeder? Read <a
                href="/files/A-COMPARISON-OF-Responsible-Hobby-Breeders-and-Backyard-Breeders.pdf" target="_blank">this
                excellent comparison by Victoria Rose.</a>
            <br><br>
            A couple of things I would like to add. A reputable breeder never charges more for a certain coat or eye
            color. They don’t charge more for a female over a male. They also would never have a buy it now option on
            their website. If you are considering buying from a breeder that does any of the above then you are looking
            at buying from a backyard breeder.
            <br><br>
            Please see how we raise litters <a href="/litters/development">HERE</a>
            <br><br>
            Interested in our litter? Fill out our puppy questionnaire <a href="/files/Highline_Aussies_Questionnaire.doc" download>HERE</a> 

        </p>
    </div>

</div>