<div class="contentWrapper">
    <div class="bannerText">
        <h1>Lulu Litter</h1>
    </div>
    
    <div class="sireDamDiv">
        <div class="sireDamElement fixedSize">
            <h1>Sire</h1>
            <img src="/images/clarke/clarke_front_summersm.jpg" alt="">
            <h3>
                  
                 AKC CH/ASCA CH <br><strong>Airam Bayberry Gentlemen Only</strong>
                <br>
                <br>
                <a href="http://www.bayberryaussies.com/clark.html"><strong>CLARKE</strong></a>
            </h3>
            <!-- <h4><a href="http://www.vinelakeaussies.com/swoop.htm">Link</a> to Vinelake Aussies</h4> -->
        </div>
        <div class="sireDamElement fixedSize">
            <h1>Dam</h1>
            <img src="/images/2020_litter/lulu_mainsm.jpg" alt="">
            <h3>
                   
                 AKC GCH/ASCA CH<br> <strong>Highline’s To Sir With Love</strong>
                 <br><br>
                 <a href="/ourdogs/lulu"><strong>LULU</strong></a>
            </h3>
        </div>
    </div>
    <div class="mainStyle">
        <p>
            Litter due January 5th, 2021 

        </p>
    </div>
    <!-- <div class="sliderBox">
        <div class="slider-for for1">
        <div><img src="/images/2020_litter/weekly/week1/litter_week1_23.jpg" alt=""></div>
            
        </div>
    </div> -->

    <!-- <div class="sliderNavBox">
        <div class="slider-nav nav1">
            <div><img src="/images/2020_litter/weekly/week1/litter_week1_1.jpg" alt=""></div>
        </div>
    </div>
</div> -->
<!-- <script src="/js/2020litter.js"></script> -->