<div class="contentWrapper">
    <div class="soloDogPage">
        <div class="bannerText">
            <h1>Nike</h1>
        </div>

 
                <div class="sliderBox" data-dog='nike'>
                    <div class="slider-for">
                        <div><img src="/images/bred_by/nike/nike_slider/nike_0.jpg"></div><div><img src="/images/bred_by/nike/nike_slider/nike_1.jpg"></div><div><img src="/images/bred_by/nike/nike_slider/nike_10.jpg"></div><div><img src="/images/bred_by/nike/nike_slider/nike_2.jpg"></div><div><img src="/images/bred_by/nike/nike_slider/nike_3.jpg"></div><div><img src="/images/bred_by/nike/nike_slider/nike_4.jpg"></div><div><img src="/images/bred_by/nike/nike_slider/nike_5.jpg"></div><div><img src="/images/bred_by/nike/nike_slider/nike_6.jpg"></div><div><img src="/images/bred_by/nike/nike_slider/nike_7.jpg"></div><div><img src="/images/bred_by/nike/nike_slider/nike_8.jpg"></div><div><img src="/images/bred_by/nike/nike_slider/nike_9.jpg"></div></div>
            </div>

        <div class="dogTitle bredByDog">
            <h3>
                 
                <strong>HIGHLINE'S IN IT TO WIN IT @ GYPSE</strong>
                <br>
                JS-O RS-O DNA-VP
                
            </h3>
        </div>
        
                
                <div class="sliderNavBox">
                    <div class="slider-nav">
                        <div class="slide"><img src="/images/bred_by/nike/nike_slider/nike_0.jpg"></div><div class="slide"><img src="/images/bred_by/nike/nike_slider/nike_1.jpg"></div><div class="slide"><img src="/images/bred_by/nike/nike_slider/nike_10.jpg"></div><div class="slide"><img src="/images/bred_by/nike/nike_slider/nike_2.jpg"></div><div class="slide"><img src="/images/bred_by/nike/nike_slider/nike_3.jpg"></div><div class="slide"><img src="/images/bred_by/nike/nike_slider/nike_4.jpg"></div><div class="slide"><img src="/images/bred_by/nike/nike_slider/nike_5.jpg"></div><div class="slide"><img src="/images/bred_by/nike/nike_slider/nike_6.jpg"></div><div class="slide"><img src="/images/bred_by/nike/nike_slider/nike_7.jpg"></div><div class="slide"><img src="/images/bred_by/nike/nike_slider/nike_8.jpg"></div><div class="slide"><img src="/images/bred_by/nike/nike_slider/nike_9.jpg"></div></div>
            </div>
            
                <div class="dogText1 dogText">
                    <h3>
                        <strong>OWNED BY:</strong> Sabrina Christie <br>
                        <strong>CO-OWNED BY:</strong> Jacquie Hallenbeck & Alexis Jackson
                      
                    </h3> 
                </div>
                <div class="sireDamDiv">
                    <div class="sireDamElement">
                        <h1>Sire</h1>
                        <img src="/images/beckham.png" alt="">
                        <h3>
                             
                            AKC/ASCA CH <br><strong>CALAIS CAROLINA FIRST INFLIGHT </strong>
                            <br>ATDs OTDd JHDs<br> 
                            <br>
                            <a href="http://calaisaussies.com/beckham.html"><strong>BECKHAM</strong></a>
        
                        </h3>
        
                    </div>
                    <div class="sireDamElement">
                        <h1>Dam</h1>
                        <img src="/images/mila.jpg" alt="">
                        <h3>
                              
                             AKC/ASCA CH <br><strong>HEADSTRONG'S WILD GYPSE</strong>
                            <br><br><br>
                            <strong>MILA</strong>
                        </h3>
                    </div>
                </div>
        
    </div>
</div>
<script src="/js/slider.js">

</script>