<div class="contentWrapper">
    <div class="bannerText">
        <h1>Our Dogs</h1>
    </div>
    <div id="topBox" class="dogBox" data-test="test">
        <div id="crushDiv" class="dogDiv">
            <img src="/images/crush/crush_mainsm.jpg" alt="" id="allieLink" data-links="/ourdogs/crush">
                <h3>Sonkist Got a Crush on You
                <br>
                <a href="/ourdogs/crush"><strong>CRUSH</strong></a>
            </h3>
        </div>
        <div id="delaDiv" class="dogDiv">
            <img src="/images/Dela/Main/dela_ourdogs2.jpg" alt="" id="delaLink" data-links="/ourdogs/dela">
                <h3>SVCH VCH SPCH PCH WTCH A-CH RTCH Carolina Calais Set Fire To The Rain GS-E JS-E RS-E RAX REX HDAds OA OAJ
                <br>
                <a href="/ourdogs/dela"><strong>DELA</strong></a>
            </h3>
        </div>
    </div>
    <div id="bottomBox" class="dogBox">
        <div id="luluDiv" class="dogDiv">
            <img src="/images/allie/allie_ourdogs2.jpg" alt="" id="allieLink" data-links="/ourdogs/allie">
                <h3>AKC/ASCA CH Calais Carolina Allie Oop GS-N JS-O RS-O RSA-O JSA-O GSA-N RSA-N JSA-N 
                <br>
                <a href="/ourdogs/allie"><strong>ALLIE</strong></a>
            </h3>
        </div>
        <div id="crushDiv" class="dogDiv">
            <img src="/images/lulu/lulu_mainsm.jpg" alt="" id="delaLink" data-links="/ourdogs/lulu">
                <h3>AKC GCH/ASCA CH Highline’s To Sir with Love  GS-N JS-N RS-N RNX RAX REX RMX DNA-VP
                <br>
                <a href="/ourdogs/lulu"><strong>LULU</strong></a>
            </h3>
        </div>
    
        
    </div>
    <div id="bottomBox" class="dogBox">
        <div id="luluDiv" class="dogDiv">
            <img src="/images/shimmer/shimmer_ourdogs1.jpg" alt="" id="allieLink" data-links="/ourdogs/shimmer">
                <h3>CH Absoloot Shine Bright at Highline
                <br>
                <a href="/ourdogs/shimmer"><strong>SHIMMER</strong></a>
            </h3>
        </div>
        
    
        
    </div>

</div>