<div class="contentWrapper">
    <div class="soloDogPage">
        <div class="bannerText">
            <h1>Parker</h1>
        </div>

 
                <div class="sliderBox" data-dog='parker'>
                    <div class="slider-for">
                        <div><img src="/images/bred_by/parker/parker_slider/parker_0.jpg"></div><div><img src="/images/bred_by/parker/parker_slider/parker_1.jpg"></div><div><img src="/images/bred_by/parker/parker_slider/parker_10.jpg"></div><div><img src="/images/bred_by/parker/parker_slider/parker_11.jpg"></div><div><img src="/images/bred_by/parker/parker_slider/parker_12.jpg"></div><div><img src="/images/bred_by/parker/parker_slider/parker_13.jpg"></div><div><img src="/images/bred_by/parker/parker_slider/parker_2.jpg"></div><div><img src="/images/bred_by/parker/parker_slider/parker_3.jpg"></div><div><img src="/images/bred_by/parker/parker_slider/parker_4.jpg"></div><div><img src="/images/bred_by/parker/parker_slider/parker_5.jpg"></div><div><img src="/images/bred_by/parker/parker_slider/parker_6.jpg"></div><div><img src="/images/bred_by/parker/parker_slider/parker_7.jpg"></div><div><img src="/images/bred_by/parker/parker_slider/parker_8.jpg"></div><div><img src="/images/bred_by/parker/parker_slider/parker_9.jpg"></div><div><img src="/images/bred_by/parker/parker_slider/parker_bredby.jpg"></div></div>
            </div>

        <div class="dogTitle bredByDog">
            <h3>
                <strong>Highline Parker James Kopas</strong>
                
            </h3>
        </div>
        
                
                <div class="sliderNavBox">
                    <div class="slider-nav">
                        <div class="slide"><img src="/images/bred_by/parker/parker_slider/parker_0.jpg"></div><div class="slide"><img src="/images/bred_by/parker/parker_slider/parker_1.jpg"></div><div class="slide"><img src="/images/bred_by/parker/parker_slider/parker_10.jpg"></div><div class="slide"><img src="/images/bred_by/parker/parker_slider/parker_11.jpg"></div><div class="slide"><img src="/images/bred_by/parker/parker_slider/parker_12.jpg"></div><div class="slide"><img src="/images/bred_by/parker/parker_slider/parker_13.jpg"></div><div class="slide"><img src="/images/bred_by/parker/parker_slider/parker_2.jpg"></div><div class="slide"><img src="/images/bred_by/parker/parker_slider/parker_3.jpg"></div><div class="slide"><img src="/images/bred_by/parker/parker_slider/parker_4.jpg"></div><div class="slide"><img src="/images/bred_by/parker/parker_slider/parker_5.jpg"></div><div class="slide"><img src="/images/bred_by/parker/parker_slider/parker_6.jpg"></div><div class="slide"><img src="/images/bred_by/parker/parker_slider/parker_7.jpg"></div><div class="slide"><img src="/images/bred_by/parker/parker_slider/parker_8.jpg"></div><div class="slide"><img src="/images/bred_by/parker/parker_slider/parker_9.jpg"></div><div class="slide"><img src="/images/bred_by/parker/parker_slider/parker_bredby.jpg"></div></div>
            </div>
            
                <div class="dogText1 dogText">
                    <h3>
                        <strong>OWNED BY:</strong> Terry Kopas
                      
                    </h3> 
                </div>
                <div class="sireDamDiv">
                    <div class="sireDamElement">
                        <h1>Sire</h1>
                        <img src="/images/beckham.png" alt="">
                        <h3>
                             
                            AKC/ASCA CH <br><strong>CALAIS CAROLINA FIRST INFLIGHT </strong>
                            <br>ATDs OTDd JHDs<br> 
                            <br>
                            <a href="http://calaisaussies.com/beckham.html"><strong>BECKHAM</strong></a>
        
                        </h3>
        
                    </div>
                    <div class="sireDamElement">
                        <h1>Dam</h1>
                        <img src="/images/mila.jpg" alt="">
                        <h3>
                              
                             AKC/ASCA CH <br><strong>HEADSTRONG'S WILD GYPSE</strong>
                            <br><br><br>
                            <strong>MILA</strong>
                        </h3>
                    </div>
                </div>
        
    </div>
</div>
<script src="/js/slider.js">

</script>