<div class="contentWrapper">
    <div class="bannerText">
        <h1>Shimmer Bobble Litter</h1>
    </div>
    
    <div class="sireDamDiv">
        <div class="sireDamElement fixedSize">
            <h1>Sire</h1>
            <img src="/images/Shimmer/bobblesm.jpg" alt="">
            <h3>
                  
                AKC CH<br><strong>Trilogy's Perfection in Neverland</strong>
                <br>
                <br>
                <a href="--link to bobble page--"><strong>BOBBLE</strong></a>
            </h3>
            <!-- <h4><a href="http://www.vinelakeaussies.com/swoop.htm">Link</a> to Vinelake Aussies</h4> -->
        </div>
        <div class="sireDamElement fixedSize">
            <h1>Dam</h1>
            <img src="/images/Shimmer/shimmer_ourdogsm.jpg" alt="">
            <h3>
                   
                 AKC GCH/ASCA CH<br> <strong>Absoloot Shine Bright at Highline</strong>
                 <br>GS-O JS-N RS-O RNX RE NA OAJ OF ACT2 DNA-VP<br>
                 <a href="/ourdogs/lulu"><strong>SHIMMER</strong></a>
            </h3>
        </div>
    </div>
    <div class="mainStyle">
        <p>
            Shimmer and Bobble welcomed 7 absolutely beautiful puppies on April 14th. We expect extremely sweet and biddable puppies from this cross that will make excellent companions. 
            <br>
            <br>
            2 Blue Merle Males 
            <br>
            2 Blue Merlse Females
            <br>
            2 Black Tri Females
            <br>
            1 Red Tri Female
            <br>
            <br>
            <strong>UPDATE:</strong> Our reservation list is full at this time. Please check our 
            <a href="/litters/jasper-mercy">upcoming Jasper + Mercy litter</a> due mid June for available reservations.

        </p>
    </div>
    <div class="sliderBox">
        <div class="slider-for for1">
            <div><img src="/images/shimmer_bobble_litter/litter_shimmerbobble_gallery12.jpg" alt=""></div>
            <div><img src="/images/shimmer_bobble_litter/litter_shimmerbobble_gallery13.jpg" alt=""></div>
            <div><img src="/images/shimmer_bobble_litter/litter_shimmerbobble_gallery1.jpg" alt=""></div>
            <div><img src="/images/shimmer_bobble_litter/litter_shimmerbobble_gallery2.jpg" alt=""></div>
            <div><img src="/images/shimmer_bobble_litter/litter_shimmerbobble_gallery3.jpg" alt=""></div>
            <div><img src="/images/shimmer_bobble_litter/litter_shimmerbobble_gallery4.jpg" alt=""></div>
            <div><img src="/images/shimmer_bobble_litter/litter_shimmerbobble_gallery5.jpg" alt=""></div>
            <div><img src="/images/shimmer_bobble_litter/litter_shimmerbobble_gallery6.jpg" alt=""></div>
            <div><img src="/images/shimmer_bobble_litter/litter_shimmerbobble_gallery7.jpg" alt=""></div>
            <div><img src="/images/shimmer_bobble_litter/litter_shimmerbobble_gallery8.jpg" alt=""></div>
            <div><img src="/images/shimmer_bobble_litter/litter_shimmerbobble_gallery9.jpg" alt=""></div>
            <div><img src="/images/shimmer_bobble_litter/litter_shimmerbobble_gallery10.jpg" alt=""></div>
            <div><img src="/images/shimmer_bobble_litter/litter_shimmerbobble_gallery11.jpg" alt=""></div>
            <div><img src="/images/shimmer_bobble_litter/litter_shimmerbobble_gallery0.jpg" alt=""></div>
            <div><img src="/images/shimmer_bobble_litter/litter_shimmerbobble_gallery14.jpg" alt=""></div>
            <div><img src="/images/shimmer_bobble_litter/litter_shimmerbobble_gallery15.jpg" alt=""></div>
            <div><img src="/images/shimmer_bobble_litter/litter_shimmerbobble_gallery16.jpg" alt=""></div>
            
        </div>
    </div>

    <div class="sliderNavBox">
        <div class="slider-nav nav1">
            <div><img src="/images/shimmer_bobble_litter/litter_shimmerbobble_gallery12.jpg" alt=""></div>
            <div><img src="/images/shimmer_bobble_litter/litter_shimmerbobble_gallery13.jpg" alt=""></div>
            <div><img src="/images/shimmer_bobble_litter/litter_shimmerbobble_gallery1.jpg" alt=""></div>
            <div><img src="/images/shimmer_bobble_litter/litter_shimmerbobble_gallery2.jpg" alt=""></div>
            <div><img src="/images/shimmer_bobble_litter/litter_shimmerbobble_gallery3.jpg" alt=""></div>
            <div><img src="/images/shimmer_bobble_litter/litter_shimmerbobble_gallery4.jpg" alt=""></div>
            <div><img src="/images/shimmer_bobble_litter/litter_shimmerbobble_gallery5.jpg" alt=""></div>
            <div><img src="/images/shimmer_bobble_litter/litter_shimmerbobble_gallery6.jpg" alt=""></div>
            <div><img src="/images/shimmer_bobble_litter/litter_shimmerbobble_gallery7.jpg" alt=""></div>
            <div><img src="/images/shimmer_bobble_litter/litter_shimmerbobble_gallery8.jpg" alt=""></div>
            <div><img src="/images/shimmer_bobble_litter/litter_shimmerbobble_gallery9.jpg" alt=""></div>
            <div><img src="/images/shimmer_bobble_litter/litter_shimmerbobble_gallery10.jpg" alt=""></div>
            <div><img src="/images/shimmer_bobble_litter/litter_shimmerbobble_gallery11.jpg" alt=""></div>
            <div><img src="/images/shimmer_bobble_litter/litter_shimmerbobble_gallery0.jpg" alt=""></div>
            <div><img src="/images/shimmer_bobble_litter/litter_shimmerbobble_gallery14.jpg" alt=""></div>
            <div><img src="/images/shimmer_bobble_litter/litter_shimmerbobble_gallery15.jpg" alt=""></div>
            <div><img src="/images/shimmer_bobble_litter/litter_shimmerbobble_gallery16.jpg" alt=""></div>
        </div>
    </div>
</div>
<script src="/js/2020litter.js"></script>