<div class="contentWrapper">
    <div class="soloDogPage">
        <div class="bannerText">
            <h1>Shimmer</h1>
        </div>

        <div class="dogMainImg">
            <img src="/images/Shimmer/shimmer_main.jpg" alt="">
        </div>
        <div class="dogTitle">
            <h3>
                CH <strong>Absoloot Shine Bright @ Highline</strong>



            </h3>
        </div>
        <div class="dogText dogText2 mainStyle">
            <h1>About Shimmer</h1>
            <p>
                When a good friend asked me to help her find a nice show prospect I didn’t hesitate to recommend she
                look at my friend Keli Gaunt’s litter. I had seen pictures of the puppies and knew immediately it was an
                exceptional litter with a wonderful pedigree. I put Joan in touch with Keli and after evaluations were
                done she was offered a lovely black Tri female. Joan asked me if I would be interested in buying her
                together on a co-own and I didn’t hesitate to say yes. Shimmer arrived at 10 weeks of age and both Joan
                and I were thrilled with her soundness, type, and confident personality. Shimmer has proven to be an
                outstanding show dog, garnering some very competitive wins in her short career.
                <br>
                <br>
            </p>
            <h4>Highlights:</h4>
            <p>
                2018 ASCA Nationals Pre-Show 2nd place 2-4 months under BJ Sharon Sparks. She was entered into two 4-6
                Beginner Puppy AKC shows in which she took BOB and Group 1. At 6 months she made her ASCA debut and came
                home with a 4 point Major under SBJ Annette Cyboron. A few months later she picked up 3 point and 4
                point ASCA majors. 
                <br><br>
                <strong>2019 ASCA Nationals 15-18 month class:</strong>  <br>(Handler Kat Wallis)
            </p>
                <ul class="winList">
                    <li>1st Place Delta ASC pre-show - SBJ Clarissa Shanks</li>
                    <li>Winners Bitch Gold Country ASC - SBJ Dianna Williams (To Finish)</li>
                    <li>BOS Nationals Sweepstakes - SBJ Heidi Mobley</li>
                    <li>1st Place Nationals - SBJ Laura Shivers</li>
                </ul>
                <p>
                 <strong>AKC: </strong>
                 <br>(Handler Kat Wallis)
                </p>
                <ul class="winList">
                    <li>RWB to a Major</li>
                    <li>WB/BOS 4 points</li>
                    <li>WB/BOW 4 points</li>
                </ul>
                <p>
                She will be campaigned in ASCA 2020/21 for finals to be held in Texas in the fall of 2021.
                <br>
                <br>
                Shimmer is currently in training for agility and rally where she shows great promise and will soon start
                stock which she has already proven to have natural talent to for.
                <br>
                <br>
                Shimmer will be bred in the spring of 2021. Check our litter page closer to that time for details.

            </p>

        </div>
        <div class="sliderBox" data-dog='shimmer'>
            <div class="slider-for">
                <div><img src="/images/Shimmer/shimmer_slider/shimmer_18.jpg"></div>
                <div><img src="/images/Shimmer/shimmer_slider/shimmer_1.jpg"></div>
                <div><img src="/images/Shimmer/shimmer_slider/shimmer_10.jpg"></div>
                <div><img src="/images/Shimmer/shimmer_slider/shimmer_11.jpg"></div>
                <div><img src="/images/Shimmer/shimmer_slider/shimmer_12.jpg"></div>
                <div><img src="/images/Shimmer/shimmer_slider/shimmer_13.jpg"></div>
                <div><img src="/images/Shimmer/shimmer_slider/shimmer_14.jpg"></div>
                <div><img src="/images/Shimmer/shimmer_slider/shimmer_15.jpg"></div>
                <div><img src="/images/Shimmer/shimmer_slider/shimmer_16.jpg"></div>
                <div><img src="/images/Shimmer/shimmer_slider/shimmer_17.jpg"></div>
                
                <div><img src="/images/Shimmer/shimmer_slider/shimmer_19.jpg"></div>
                <div><img src="/images/Shimmer/shimmer_slider/shimmer_2.jpg"></div>
                <div><img src="/images/Shimmer/shimmer_slider/shimmer_20.jpg"></div>
                <div><img src="/images/Shimmer/shimmer_slider/shimmer_3.jpg"></div>
                <div><img src="/images/Shimmer/shimmer_slider/shimmer_4.jpg"></div>
                <div><img src="/images/Shimmer/shimmer_slider/shimmer_5.jpg"></div>
                <div><img src="/images/Shimmer/shimmer_slider/shimmer_6.jpg"></div>
                <div><img src="/images/Shimmer/shimmer_slider/shimmer_7.jpg"></div>
                <div><img src="/images/Shimmer/shimmer_slider/shimmer_8.jpg"></div>
                <div><img src="/images/Shimmer/shimmer_slider/shimmer_9.jpg"></div>
            </div>
            <div class="sliderNavBox">
                <div class="slider-nav">
                    <div class="slide"><img src="/images/Shimmer/shimmer_slider/shimmer_18.jpg"></div>
                    <div class="slide"><img src="/images/Shimmer/shimmer_slider/shimmer_1.jpg"></div>
                    <div class="slide"><img src="/images/Shimmer/shimmer_slider/shimmer_10.jpg"></div>
                    <div class="slide"><img src="/images/Shimmer/shimmer_slider/shimmer_11.jpg"></div>
                    <div class="slide"><img src="/images/Shimmer/shimmer_slider/shimmer_12.jpg"></div>
                    <div class="slide"><img src="/images/Shimmer/shimmer_slider/shimmer_13.jpg"></div>
                    <div class="slide"><img src="/images/Shimmer/shimmer_slider/shimmer_14.jpg"></div>
                    <div class="slide"><img src="/images/Shimmer/shimmer_slider/shimmer_15.jpg"></div>
                    <div class="slide"><img src="/images/Shimmer/shimmer_slider/shimmer_16.jpg"></div>
                    <div class="slide"><img src="/images/Shimmer/shimmer_slider/shimmer_17.jpg"></div>
                    
                    <div class="slide"><img src="/images/Shimmer/shimmer_slider/shimmer_19.jpg"></div>
                    <div class="slide"><img src="/images/Shimmer/shimmer_slider/shimmer_2.jpg"></div>
                    <div class="slide"><img src="/images/Shimmer/shimmer_slider/shimmer_20.jpg"></div>
                    <div class="slide"><img src="/images/Shimmer/shimmer_slider/shimmer_3.jpg"></div>
                    <div class="slide"><img src="/images/Shimmer/shimmer_slider/shimmer_4.jpg"></div>
                    <div class="slide"><img src="/images/Shimmer/shimmer_slider/shimmer_5.jpg"></div>
                    <div class="slide"><img src="/images/Shimmer/shimmer_slider/shimmer_6.jpg"></div>
                    <div class="slide"><img src="/images/Shimmer/shimmer_slider/shimmer_7.jpg"></div>
                    <div class="slide"><img src="/images/Shimmer/shimmer_slider/shimmer_8.jpg"></div>
                    <div class="slide"><img src="/images/Shimmer/shimmer_slider/shimmer_9.jpg"></div>
                </div>
            </div>
        </div>
        <div class="dogText1 dogText">
            <h3>
                <strong>Date of Birth</strong>: June 25, 2018
                <br>
                <strong>Height</strong>: 19 inches | Weight: 38 | OFA Hips: Too Young | OFA Elbows:
                Too Young | HSF4: Clear by parentage <br> MDR1: N/N | PFA: Negative
                <br>
                Eyes cleared annually | Bite: Full Dentition/Scissors
                <br>

                <strong>Breeders</strong>: Keli Gaunt
                <br>
                <strong>Owners</strong>: Joan Skinner and Jacquie Hallenbeck


            </h3>


        </div>
        <div class="sireDamDiv">
            <div class="sireDamElement">
                <h1>Sire</h1>
                <img src="/images/shimmer/Rhettsm.jpg" alt="">
                <h3>
                    ASCA CH <br><strong>Absoloot Shake Your South Side</strong>
                    <br>
                    <a href="http://www.absolootaussies.com/rhett.html"><strong>RHETT</strong></a>

                </h3>

            </div>
            <div class="sireDamElement">
                <h1>Dam</h1>
                <img src="/images/shimmer/Kandism.jpg" alt="">
                <h3>
                    ASCA CH <strong>Absoloot Eye Kandi</strong>

                    <br>
                    <a href="http://www.absolootaussies.com/kandi.html"><strong>KANDI</strong></a>
                </h3>
            </div>
        </div>

    </div>
</div>
<script src="/js/slider.js">

</script>