<div class="contentWrapper">
    <div class="soloDogPage">
        <div class="bannerText">
            <h1>Stout</h1>
        </div>

 
                <div class="sliderBox" data-dog='stout'>
                    <div class="slider-for">
                        <div><img src="/images/bred_by/stout/stout_slider/0stout_main.jpg"></div><div><img src="/images/bred_by/stout/stout_slider/stout_0.jpg"></div><div><img src="/images/bred_by/stout/stout_slider/stout_1.jpg"></div><div><img src="/images/bred_by/stout/stout_slider/stout_10.jpg"></div><div><img src="/images/bred_by/stout/stout_slider/stout_11.jpg"></div><div><img src="/images/bred_by/stout/stout_slider/stout_12.jpg"></div><div><img src="/images/bred_by/stout/stout_slider/stout_13.jpg"></div><div><img src="/images/bred_by/stout/stout_slider/stout_14.jpg"></div><div><img src="/images/bred_by/stout/stout_slider/stout_15.jpg"></div><div><img src="/images/bred_by/stout/stout_slider/stout_16.jpg"></div><div><img src="/images/bred_by/stout/stout_slider/stout_17.jpg"></div><div><img src="/images/bred_by/stout/stout_slider/stout_18.jpg"></div><div><img src="/images/bred_by/stout/stout_slider/stout_19.jpg"></div><div><img src="/images/bred_by/stout/stout_slider/stout_2.jpg"></div><div><img src="/images/bred_by/stout/stout_slider/stout_20.jpg"></div><div><img src="/images/bred_by/stout/stout_slider/stout_21.jpg"></div><div><img src="/images/bred_by/stout/stout_slider/stout_3.jpg"></div><div><img src="/images/bred_by/stout/stout_slider/stout_4.jpg"></div><div><img src="/images/bred_by/stout/stout_slider/stout_5.jpg"></div><div><img src="/images/bred_by/stout/stout_slider/stout_6.jpg"></div><div><img src="/images/bred_by/stout/stout_slider/stout_7.jpg"></div><div><img src="/images/bred_by/stout/stout_slider/stout_8.jpg"></div><div><img src="/images/bred_by/stout/stout_slider/stout_9.jpg"></div></div>
                </div>
        <div class="dogTitle bredByDog">
            <h3>
                
                AKC GCH ASCA CH <strong>Highlines Well Did You Evah?</strong>
                
            </h3>
        </div>
        
                
                <div class="sliderNavBox">
                    <div class="slider-nav">
                        <div class="slide"><img src="/images/bred_by/stout/stout_slider/0stout_main.jpg"></div><div class="slide"><img src="/images/bred_by/stout/stout_slider/stout_0.jpg"></div><div class="slide"><img src="/images/bred_by/stout/stout_slider/stout_1.jpg"></div><div class="slide"><img src="/images/bred_by/stout/stout_slider/stout_10.jpg"></div><div class="slide"><img src="/images/bred_by/stout/stout_slider/stout_11.jpg"></div><div class="slide"><img src="/images/bred_by/stout/stout_slider/stout_12.jpg"></div><div class="slide"><img src="/images/bred_by/stout/stout_slider/stout_13.jpg"></div><div class="slide"><img src="/images/bred_by/stout/stout_slider/stout_14.jpg"></div><div class="slide"><img src="/images/bred_by/stout/stout_slider/stout_15.jpg"></div><div class="slide"><img src="/images/bred_by/stout/stout_slider/stout_16.jpg"></div><div class="slide"><img src="/images/bred_by/stout/stout_slider/stout_17.jpg"></div><div class="slide"><img src="/images/bred_by/stout/stout_slider/stout_18.jpg"></div><div class="slide"><img src="/images/bred_by/stout/stout_slider/stout_19.jpg"></div><div class="slide"><img src="/images/bred_by/stout/stout_slider/stout_2.jpg"></div><div class="slide"><img src="/images/bred_by/stout/stout_slider/stout_20.jpg"></div><div class="slide"><img src="/images/bred_by/stout/stout_slider/stout_21.jpg"></div><div class="slide"><img src="/images/bred_by/stout/stout_slider/stout_3.jpg"></div><div class="slide"><img src="/images/bred_by/stout/stout_slider/stout_4.jpg"></div><div class="slide"><img src="/images/bred_by/stout/stout_slider/stout_5.jpg"></div><div class="slide"><img src="/images/bred_by/stout/stout_slider/stout_6.jpg"></div><div class="slide"><img src="/images/bred_by/stout/stout_slider/stout_7.jpg"></div><div class="slide"><img src="/images/bred_by/stout/stout_slider/stout_8.jpg"></div><div class="slide"><img src="/images/bred_by/stout/stout_slider/stout_9.jpg"></div></div>
                </div>
            
                <div class="dogText1 dogText">
                    <h3>
                        <strong>OWNED BY:</strong> Mia Sorensen
                      
                    </h3> 
                </div>
                <div class="sireDamDiv">
                    <div class="sireDamElement">
                        <h1>Sire</h1>
                        <img src="/images/allie/Cole_1.png" alt="">
                        <h3>
                              
                              HOF CH <br><strong>Lyrics Night and Day </strong>ROMII, ROMXIII
                            <br>ATDs OTDd JHDs<br> 
                            <br>
                            <a href="http://www.lyricaussies.com/cole.html"><strong>COLE</strong></a>
        
                        </h3>
        
                    </div>
                    <div class="sireDamElement">
                        <h1>Dam</h1>
                        <img src="/images/allie/allie_ourdogs2.jpg" alt="">
                        <h3>
                              
                             AKC/ASCA CH <strong>Calais Carolina Allie Oop</strong>
                            <br>GS-N JS-O RS-O RSA-O JSA-O GSA-N RSA-N JSA-N
                            <br><br>
                            <a href="/ourdogs/allie"><strong>ALLIE</strong></a>
                        </h3>
                    </div>
                </div>
        
    </div>
</div>
<script src="/js/slider.js">

</script>